.container
  %h1 Listing races
  .row
    .col-3
      %button.btn.btn-primary{ data: { toggle: "modal", target: "#modal-test" } }
        test
      %button.btn.btn-primary{ data: { toggle: "modal", target: "#modal-template" } }
        New Race

  - @races.each do |race|
    .card
      .card-header
        .row
          .col-6
            = race.name
          .col-6
            = race.date
      .card-body
        .row
          .col-3
            %p placeholder
:javascript
  $(document).ready(function() {
    $( "#modal-template-body" ).load( "races/new" )
  });
