.container-fluid
  .header
    .p-5.text-center.bg-image{:style => "background-image: url('/img/covers/laser2.jpg'); background-size: cover;"}
      .mask{:style => "background-color: rgba(0, 0, 0, 0.7)"}
        .d-flex.justify-content-center.align-items-center.h-100
          .text-white
            %h1.mb-3 RACENOW
            %h5.mb-4 Race Registration, Scoring, and Management
            %a.btn.btn-outline-light.btn-lg.m-5{ href: "", :rel => "nofollow", :role => "button", :target => "_blank"} Find Races
            %a.btn.btn-outline-light.btn-lg.m-5{ href:  new_user_registration_path, :role => "button", :target => "_blank"} Sign Up!


