%body
  %header
    \&gt;
    / Background image
    #intro-example.p-5.text-center.bg-image{:style => "background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg')"}
      .mask{:style => "background-color: rgba(0, 0, 0, 0.7)"}
        .d-flex.justify-content-center.align-items-center.h-100
          .text-white
            %h1.mb-3 Learn Bootstrap 5 with MDB
            %h5.mb-4 Best &amp; free guide of responsive web design
            %a.btn.btn-outline-light.btn-lg.m-2{:href => "https://www.youtube.com/watch?v=c9B4TPnak1A", :rel => "nofollow", :role => "button", :target => "_blank"} Start tutorial
            %a.btn.btn-outline-light.btn-lg.m-2{:href => "https://mdbootstrap.com/docs/standard/", :role => "button", :target => "_blank"} Download MDB UI KIT
    / Background image
