.container-fluid
  .row
    .col
      &nbsp;
  .row.justify-content-center
    .col-6.col-lg-4
      .card.shadow-lg
        .card-body
          %h2 Racing on Rails!
          %p
            The time is now: #{Time.now}