%h1 Listing boats

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @boats.each do |boat|
      %tr
        %td= link_to 'Show', boat
        %td= link_to 'Edit', edit_boat_path(boat)
        %td= link_to 'Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Boat', new_boat_path
