#modal-template.modal{ role: "dialog", "aria-labelledby": "emptyModalLabel", "aria-hidden": "true" }
  .modal-dialog.modal-lg
    .modal-content
      .loading.text-center
        %img(src="/img/loading.gif")
      .modal-header
        .modal-title
          %h3
      #modal-template-body.modal-body
